



.color__light__green {
    background-color: #AEC09A;
}
.color__dark__green {
    background-color: #344C11;
}

.input-field {
    /* Фоновый градиент */
    background-color: linear-gradient(to right, #575757, #163329);
    /* Цвет границы */
    border-color: #a9cfae;
    /* Округление углов */
    border-radius: 10px;
    /* Внутренние отступы */
    padding: 10px;
    /* Плавный переход */
    transition: 0.3s ease;
}

        .one_button {
            padding: 10px 20px;
            font-size: 20px;
            background-color: #344C11;
            color: #ffffff;
            border: 2px solid #AEC670;
            border-radius: 5px;
            cursor: pointer;
            transition: all 1s ease;
        }

        .one_button:hover {
            box-shadow: 0 4px 8px rgba(174, 198, 112, 1);
            transform: translateY(-2px);
        }

        .one_button:active {
            font-size: 16px;
            background-color: #AEC09A;
            border-color: #344C11;
        }

        .two_button {
            font-weight: bold;
            padding: 10px 20px;
            font-size: 14px;
            background-color: #AEC09A;
            color: #1A2902;
            border: 2px solid #344C11;
            border-radius: 5px;
            cursor: pointer;
            transition: all 1s ease;
        }


        .field-feedback {
            font-size: 24px;
            font-weight: bold;
            background-color: #AEC09A;
            border-radius: 10px;
            border: 2px solid #344C11;
            box-shadow: 0 4px 8px rgba(52, 76, 17, 1);
            height: 120px;
            max-width: 400px;
            padding: 10px; /* добавленный отступ */
        }