{% extends 'index.html' %}
    {% load static %}




{% block content %}
<!-- Connecting CSS files -->
<link rel="stylesheet" href="{% static 'css/audio_player/audio_player.css' %}">
<link rel="stylesheet" href="{% static 'css/styles_project.css' %}">
<!-- Connecting CSS files -->
    <div class="row mb-3">
        <h1>{{ playlist }}</h1>
    </div>
    <div class="row mb-3">
        <div class="col-md-8">
            <div id="feedback" class="mt-2 p-3 field-feedback">
                <img src="{% static 'img_svg/6md.gif' %}" alt="Play Image">
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group w-100 rounded">
                        <button type="button" id="text-hint-button" class="one_button dropdown-toggle w-100" onclick="displayTextHint()" aria-expanded="false">
                            Подсказка текст
                        </button>
                        <ul class="dropdown-menu w-100">
                            <li class="text-center">
                                <p class="card-text" id="random-text">{{ random_item.text }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 mt-2">
                    <div class="btn-group w-100 rounded">
                        <button type="button" id="translation-hint-button" class="one_button dropdown-toggle w-100" onclick="displayTranslationHint()" aria-expanded="false">
                            Подсказка перевод
                        </button>
                        <ul class="dropdown-menu w-100">
                            <li class="text-center border-bottom border-3 border-dark">
                                <p class="card-text" id="translation">{{ random_item.translation_text }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row mt-5">
        <div class="col-md-12 mb-2">
            <div class="">
                <input type="text" id="user-answer" class="input-field" data-random-text="{{ random_item.text|lower }}">
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <button id="user-answer-button" onclick="checkAnswer()" class="one_button" >Перевірити</button>
        <span style="margin-left: 20px;"></span> <!-- Отступ между кнопками -->
        <button class="null-button" id="add-to-favorites-btn" data-detext-id="{{ random_item.id }}" style="width: 25px; height: 25px;">
            <img src="{% static 'img_svg/save.svg' %}" alt="Play Image" style="width: 100%; height: 100%;">
        </button>
    </div>
</div>


    <div class="row mt-3">
        <div class="col-md-12 mb-4 d-flex justify-content-center">
            <div class="audio-container player-style align-items-center">
                <audio id="audio-player" src="{{ random_item.audio.url }}" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
                <div>
                    <button onclick="togglePlayPause()" id="play-pause-button" class="null-button">
                        <img src="{% static 'img_svg/play.svg' %}" alt="Play Image">
                    </button>
                    <button class="null-button" onclick="changeSpeed(0.76)"><img src="{% static 'img_svg/slow.svg' %}" alt="Play Image"></button>
                    <button class="null-button" onclick="changeSpeed(0.88)"><img src="{% static 'img_svg/medium.svg' %}" alt="Play Image"></button>
                    <button class="null-button" onclick="changeSpeed(1)"><img src="{% static 'img_svg/fast.svg' %}" alt="Play Image"></button>
                </div>
            </div>
        </div>
    </div>

<script src="{% static 'js/js_audio_player/audio_player.js' %}"></script>
<script src="{% static 'js/playlists/playlist.js' %}"></script>
<script src="{% static 'js/answer_checker/answer_checker.js' %}"></script>
<script>
var previousTextHint = "";
var previousTranslationHint = "";

function displayTextHint() {
    var textHintButton = document.getElementById('text-hint-button');
    if (textHintButton.classList.contains("one_button")) {
        previousTextHint = textHintButton.innerText; // Сохраняем текущий текст кнопки
        textHintButton.innerText = "{{ random_item.text }}";
        textHintButton.classList.replace("one_button", "two_button");
    } else {
        textHintButton.innerText = previousTextHint; // Возвращаем сохраненный текст
        textHintButton.classList.replace("two_button", "one_button");
    }
}

function displayTranslationHint() {
    var translationHintButton = document.getElementById('translation-hint-button');
    if (translationHintButton.classList.contains("one_button")) {
        previousTranslationHint = translationHintButton.innerText; // Сохраняем текущий текст кнопки
        translationHintButton.innerText = "{{ random_item.translation_text }}";
        translationHintButton.classList.replace("one_button", "two_button");
    } else {
        translationHintButton.innerText = previousTranslationHint; // Возвращаем сохраненный текст
        translationHintButton.classList.replace("two_button", "one_button");
    }
}


    document.getElementById('add-to-favorites-btn').addEventListener('click', function() {
        var detextId = this.getAttribute('data-detext-id');
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/api/deTextByEar/add_to_favorites/' + detextId + '/');
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}'); // CSRF токен для защиты от CSRF атак
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                if (response.success) {
                    showAlert('success', response.message); // Выводим сообщение об успехе
                } else {
                    showAlert('danger', response.message); // Выводим сообщение об ошибке
                }
            } else {
                showAlert('danger', 'Помилка під час виконання запиту'); // Выводим сообщение об ошибке
            }
        };
        xhr.send();
    });

    function showAlert(type, message) {
        // Создаем элемент для алерта
        var alertElement = document.createElement('div');
        alertElement.className = 'alert alert-' + type + ' position-fixed bottom-0 end-0 m-3'; // Добавляем классы Bootstrap для стилизации

        // Добавляем текст сообщения
        var messageElement = document.createTextNode(message);
        alertElement.appendChild(messageElement);

        // Добавляем алерт на страницу
        document.body.appendChild(alertElement);

        // Скрываем алерт через 5 секунд
        setTimeout(function() {
            alertElement.remove();
        }, 5000);
    }
</script>
{% endblock %}



